<html>
<head>
<link rel="stylesheet" type="text/css" href="../style.css">
<title> {{ return content.auto:match("#(.-)\n")  }} </title>
<body>

<img src="../Signature-BlackOnTransparent-Light.png" alt="The Calamity" width=30%>

<div class="topnav">
<ul>
<li><a href="../index.html"> Home </a></li>
<li><a href="../blog.html"> Blog </a></li>
<li><a href="../music.html"> Sounds </a></li>
<li><a href="https://www.instagram.com/thecalamityband/"> Images </a></li>
<li><a href="../videos.html"> Videos </a></li>
</ul>
</div>

{{ return content.auto }}

</body>
</html>
 
